<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="org.kakarrot.dao.BoardMapper">




<select id="selectOne" resultType="org.kakarrot.domain.BoardVO">
select * from tbl_board_sample where pno = #{pno}
</select>

<insert id="insertOne" >
insert into tbl_board_sample values(seq_board_sample.nextval,#{view_count},#{tilte},
#{writer},#{content},sysdate,sysdate )
</insert>
  
  
  
  
</mapper>